
{% block body %}
    <div class="popupCreatePublication popup {{ type }}">
        {{ form_start(form, {
            'attr': {
                'class': 'create-publication-form',
                'enctype': 'multipart/form-data'
            }}) }}


        <div class="container-input">

                {{ form_row(form.titre) }}
        {{ form_row(form.description) }}

            {% if type == 'texte' %}
        {{ form_row(form.contenuTexte) }}
        {% elseif type == 'fichier' %}
            {{ form_row(form.contenuFichier) }}
        {% endif %}

            {{ form_row(form.type_publication_id, {
                'value': type == 'fichier' ? 2 : null
            }) }}

        </div>
        {{ form_row(form.type) }}
        {{ form_row(form._token) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
