{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/navbar/navbar.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/navbar/navbar.js') }}"></script>
{% endblock %}

{% block body %}

    {# Etant donnée qu'on a pas de side bar, si l'admin change de page on lui propose de revenir, donc pour ça au lieu de mettre les
    éléments à droite on prend toute la hauteur#}
    <div class="{{ app.request.attributes.get('_route') == 'app_admin' ? 'top-page' : 'top-page-out'  }}">

        {# Si il est sur une autre page que admin on lui propose revenir#}
        {% if app.request.attributes.get('_route') != 'app_admin'  %}
        <a href="{{ path('app_admin') }}" class="left-admin-part">
            <i class="lni lni-chevron-left"></i>
            <p id="return-text">Retourner dashboard</p>
        </a>
        {% endif %}

        <div class="right-admin-part">
            {% if 'ROLE_PROFESSEUR' in roles %}
                <div class="select-roles">
                    <p onclick="displaySelectMenu()" id="roles-changes">Vue administrateur</p>
                    <a href={{ path('app_professeur')}} id="additional-roles">Vue professeur</a>
                </div>

            {% endif %}

            <div class="profil">
                {#            On utilise ~ pour concaténer#}
                <img id="admin-picture" src="{{asset("images/profil/" ~ utilisateur.image)}}" alt="Photo de profil admin" onclick="toggleProfileMenu()">
                <div id="profile-menu">
                    <a href={{ path('admin_profil')}} ><p>Profil</p></a>
                    <a href={{ path('app_logout') }}><p>Se déconnecter</p></a>
                </div>
            </div>
        </div>
        </div>


    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
