{% extends 'admin/base_admin.html.twig' %}

{% block title %}Espace Adminisatrateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/admin_popup.css') }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/admin.js') }}"></script>
    <script src="{{ asset('js/admin/popup-manager.js') }}"></script>

{% endblock %}

{% block content %}

    <div class="welcome-section">
        <img id="photo-welcome" src="{{ asset('images/profil/' ~ utilisateur.image) }}" alt="Photo de profil de welcome">

        <div class="welcome-content">
            <h1>Bienvenue sur votre espace <span>{{ utilisateur.nom }}</span></h1>
            <p>Vous être administrateur</p>
        </div>

    </div>

<div class="statistiques">
    {% for stat in statistiques %}
        <div class="statistiques-section">
            <div class="top-statistiques-section">
                <h4>{{ stat.nom }}</h4>
                <i class="{{ "svg-icon " ~ stat.icons }}"></i>

            </div>
            <h5>{{ stat.nombre }}</h5>

        </div>
    {% endfor %}


</div>

    <div class="dashboard">
        <div class="dashboard-select" id="dashboard-selects">
            <h4 class="center-dashboard-content" onclick="SelectUser()">
                Utilisateurs</h4>
            <h4 class="center-dashboard-content" onclick="SelectUE()"> Unités d'enseignements</h4>
            <span id="categorie-selected"></span>
        </div>

        <div class="dashboard-filter">
            <div class="search-section">
                <i class="loop lni lni-search-1"></i>

                <label>
                    <input type="text" class="stylized-input" placeholder="Rechercher...">
                </label>

            </div>

            <div class="filter-section">
                <div class="filter-button button">
                    <i class="fa-solid fa-filter"></i>
                    <p>Filtrer</p>
                </div>

                <div class="filter-button button">
                    <i class="fa-solid fa-arrow-up-wide-short"></i>
                    <p>Trier</p>
                </div>

            </div>
        </div>

        <div id="add-section" class="add-section" >
                    <div onclick="handleAjout()" class="add-button button">
                        <i class="fa-solid fa-plus"></i>
                        <p>Ajouter</p>
                    </div>
        </div>

        <div id="dashboard-content" class="dashboard-content">
            <div id="user-content" class="card-container">

            {% for user in allUtilisateur %}
                <div id="{{ "user-"~user.id}}" class="card-box">
                    <div class="card-left">
                        <img id="user-picture" src="{{ 'images/profil/' ~ user.image }}" alt="Photo de profil admin">
                        <div class="card-content">
                            <h4 id="name-firstname-section">{{ user.prenom }} {{ user.nom }}</h4>
                            {# Comme c'est un tableau je sépare les valeurs avec des -, et je change pour l'aspect visuel  #}
                            <h4 id="roles-section" class="card-text">
                                {{
                                user.roles
                                |map(r => r == 'ROLE_ELEVE' ? 'Élève' : (r == 'ROLE_ADMINISTRATEUR' ? 'Administrateur' : (r == 'ROLE_PROFESSEUR' ? 'Professeur' : r)))
                                |join(' - ')
                                }}
                            </h4>
                        </div>
                    </div>
                    <div class="card-action">
                        <i onclick="modifierUtilisateur(' {{ user.id|e('js') }} ')" class="fa-solid fa-pen edit-icon edit"></i>
                        {# Afin de pas pouvoir supprimer l'admin qui est connecté #}
                        {% if utilisateur.id != user.id %}
                            <i onclick="supprimerUtilisateur('{{ user.id|e('js') }}')" class="fa-solid fa-trash edit-icon delete"></i>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>

            <div id="ue-content" class="card-container">
                {% for unite in ue %}
                <div class="card-box">
                    <div class="card-left">
                        <img id="ue-picture" src="{{"./images/ue/" ~ unite.image}}" alt="Photo de profil admin">
                        <div class="card-content">
                            <h4>{{ unite.nom }}</h4>
                            <h4 class="card-text">Responsable : {{ unite.prenom_responsable }} {{ unite.nom_responsable }}</h4>
                            <div class="ue-stat">

                                <div class="ue-stat-icons">
                                    <i class="lni lni-graduation-cap-1"></i>
                                    <p>20</p>
                                </div>

                                <div class="ue-stat-icons">
                                    <i class="lni lni-user-multiple-4"></i>
                                    <p>7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <i onclick="editUser()" class="fa-solid fa-pen edit-icon edit"></i>
                        <i onclick="deleteUser()" class="fa-solid fa-trash edit-icon delete"></i>
                    </div>
                </div>
                {% endfor %}
        </div>

    </div>

        {# Le code de ces classes sera dans admin.js plusieurs solutions s'offraient à nous
        mais on a préféré simplifier le code#}
        <div class="hidden" id="overlay" >
            {% include 'admin/popup/_delete_user.html.twig' %}
            {% include 'admin/popup/_add_edit_user.html.twig' %}

            {#
            <div class="popup hidden">
                <p class="close-popup" onclick="closePopup()">X</p>
            </div>

            <div class="mini-popup hidden">
                <p class="close-popup" onclick="closePopup()">X</p>
            </div>
#}
        </div>
    </div>



    {% endblock %}
