<div class="post
    {% if type_publication_id == 2 %}file
    {% elseif type_publication_id == 3 %}calendar
    {% elseif type_publication_id == 4 %}warning
    {% elseif type_publication_id == 5 %}info
    {% endif %}"
     data-id="{{ id }}">

    <div class="top_post">
        <h5 class="title_post">{{ titre }}</h5>
        <span class="date_post">{{ derniere_modif }}</span>
        <div class="interactions_post">
            <button class="edit_post" data-url="{{ path('publication_edit', {
                codeUe: code_id,
                id_section: section_id,
                id_publication: id
            }) }}">
                <i class="fa-solid fa-pen"></i>
            </button>
            <button class="delete_post" data-publication-id="{{ id }}"><i class="fa-solid fa-trash"></i></button>
            <button class="epingle_post" data-publication-id="{{ id }}"><i class="fa-solid fa-paperclip"></i></button>

        </div>
        <!-- Icône trois points -->
        <i style="margin-left: 10px" class="fa-solid fa-up-down-left-right drag-handle"></i>

        <!-- Menu d'options caché par défaut -->
        <div class="options_menu">
            <button class="edit_post">Modifier</button>
            <button class="delete_post">Supprimer</button>
        </div>
    </div>
    {% if type_publication_id == 2 %}
        <div class="download">
            <i class="fa-solid fa-file-pdf"></i>
            <a href="{{ asset('/uploads/' ~ contenuFichier) }}" download>
                <span class="nom_fichier">{{ contenuFichier }}</span>
                <i class="fa-solid fa-download"></i>
            </a>
        </div>
    {% else %}
        <p class="text_post">{{ contenuTexte }}</p>
    {% endif %}
</div>