{% extends 'professeur/base_professeur.html.twig' %}

{% block title %}Choix des UE | Professeur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/choix_ue/choix_ue.css') }}">
{% endblock %}

{% block content %}
    {# Ici on fait la bannière de la page, c'est quand on se connecte a notre photo de profil et notre role dans le site#}
    <div class="banner">
        <img src="{{ asset('images/profil/mhammed.jpeg') }}" alt="">
        <div class="text">
            <span class="bienvenue">Bienvenue sur votre espace {{ user.prenom }} {{ user.nom }} !</span>
            <span class="role">Vous êtes {{ user.roles|join(', ') }}</span>
        </div>
    </div>

    {# Section Actualité de la page #}
    <div class="actualites">
        <h3>Actualités</h3>
        <ul>
            <li class="affectation"><i class="lni lni-books-2"></i><p><b>M.Baka</b> vous a affecté à l’UE <b>SY44</b></p></li>
            <li class="fichier"><i class="lni lni-file-multiple"></i><p><b>M.Quoicoubeh</b> a ajouté un nouveau fichier “TP1.pdf” dans WE4A</p></li>
            <li class="message"><i class="lni lni-comment-1"></i><p><b>M.LOMBARD</b> a posté un message  <b>« Changement salle »</b> dans <b>WE4A</b></p></li>
        </ul>
        <button id="afficherPlus">Afficher plus</button>
    </div>
    {# Section cours de la page #}
    <div class="cours">
        <h2>Mes cours</h2>
        <div class="nav-wrapper">
            <ul class="selection_cours">
                <li class="active">Tous</li>
                <li>Derniers cours consultés</li>
                <li>Favoris</li>
            </ul>
            <span class="underline"></span> <!-- La barre animée -->
        </div>
        <hr>
        <div class="liste_ue">
            {% for ue in ues %}
            <div class="ue favorite-{{ ue.favori ? 'true' : 'false' }}">
                <img src="{{ asset('images/ue/' ~ ue.image) }}" alt="">
                <div class="infos">
                    <h5>{{ ue.code }} - {{ ue.nom }}</h5>
                    <span class="responsable">Responsable : {{ ue.prenom}}  {{ ue.nom_responsable }}</span>
                    <div class="more">
                        <div class="lessons">
                            <i class="lni lni-notebook-1"></i>
                            <span>12 Lessons</span>
                        </div>
                        <i class="lni lni-heart"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="carousel-dots">
            <div class="dot active-dot" data-page="0">1</div>
            <div class="dot" data-page="1">2</div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/choix_ue/choix_ue_etudiant.js') }}"></script>
    {% endblock %}
{% endblock %}
