{% extends 'base_eleve_professeur.html.twig' %}

{% block title %}Choix des UE | Etudiant{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/choix_ue/choix_ue.css') }}">
{% endblock %}

{% block content %}
    {# Ici on fait la bannière de la page, c'est quand on se connecte a notre photo de profil et notre role dans le site#}
    <div class="banner">
        <img src="{{ asset('images/profil/'~user.image) }}" alt="">
        <div class="text">
            <span class="bienvenue">Bienvenue sur votre espace {{ user.prenom }} {{ user.nom }} !</span>
            <span class="role">Vous êtes                 {{
                user.roles
                |map(r => r == 'ROLE_ELEVE' ? 'Élève' : (r == 'ROLE_ADMINISTRATEUR' ? 'Administrateur' : (r == 'ROLE_PROFESSEUR' ? 'Professeur' : r)))
                |join(' - ')
                }}</span>


        </div>
    </div>

    {# Section Actualité de la page #}
    {% if notifications|length > 0 %}
    <div class="actualites">
        <h3>Actualités</h3>
        <ul id="notifications-list">

            {% for notification in notifications %}
                {% set classes = [] %}
                {% if notification.type_notification_id == 1 %}
                    {% set classes = classes|merge(['affectation']) %}
                {% elseif notification.type_notification_id == 5 %}
                    {% set classes = classes|merge(['fichier']) %}
                {% else %}
                    {% set classes = classes|merge(['message']) %}
                {% endif %}

                {% if notification.priorite_id == 2 %}
                    {% set classes = classes|merge(['important-notif']) %}
                {% endif %}

                <li id="{{ "notification-"~notification.id_notification }}" class="{{ classes|join(' ') }}">
                    {% if notification.type_notification_id == 1 %}
                        <i class="lni lni-books-2"></i>
                    {% elseif notification.type_notification_id == 5 %}
                        <i class="lni lni-file-multiple"></i>
                    {% else %}
                        <i class="lni lni-comment-1"></i>
                    {% endif %}

                    <a href="{{ notification.url_destination }}">
                        <b>{{ notification.nom }}</b> {{ notification.contenu }} <b>{{ notification.code_id }}</b>
                    </a>

                    {% if notification.priorite_id == 2 %}
                        <p id="{{ "important-"~notification.id_notification }}" style="margin-left: 20px; color: red;">IMPORTANT !</p>
                        <button  onclick="removeUrgentNotif({{ notification.id_notification }})" id="delete-notif-urgent">X</button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if showMoreButton %}
            <button onclick="updateNotif()" id="afficherPlus">Afficher plus</button>
        {% endif %}
    </div>
    {% endif %}

    {# Section cours de la page #}
    <div class="cours">
        <h2>Mes cours</h2>
{#        <div class="nav-wrapper">
            <ul class="selection_cours">
                <li class="active">Tous</li>
                <li>Derniers cours consultés</li>
                <li>Favoris</li>
            </ul>
            <span class="underline"></span> <!-- La barre animée -->
        </div>
        <hr>#}
        <div class="liste_ue">
            {% for ue in ues %}
                {% set route_name = user.roles is iterable and 'ROLE_ELEVE' in user.roles ? 'contenu_ue_etudiant' : 'contenu_ue_professeur' %}
                <a class="ue-link ue favorite-{{ ue.favori ? 'true' : 'false' }}" href="{{ path(route_name, {'codeUe': ue.code}) }}">
                        <img src="{{ asset('images/ue/' ~ ue.image) }}" alt="">
                        <div class="infos">
                            <h5>{{ ue.code }} - {{ ue.nom }}</h5>
                            <span class="responsable">Responsable : {{ ue.prenom}}  {{ ue.nom_responsable }}</span>
                            <div class="more">
                                <div class="lessons">
                                    <i class="lni lni-notebook-1"></i>
                                    <span>12 Lessons</span>
                                </div>
                                <i class="lni lni-heart"></i>
                            </div>
                        </div>
            </a>

            {% endfor %}
        </div>
        <div class="carousel-dots">
            <div class="dot active-dot" data-page="0">1</div>
            <div class="dot" data-page="1">2</div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/choix_ue/choix_ue_etudiant.js') }}"></script>
    {% endblock %}
{% endblock %}